<html>
<head>
<meta http-equiv="content-type" content="text/html;charset=utf-8">
<meta  charset="utf-8" />
<link rel="stylesheet" href="/data/page/lib/codemirror.css"> 
<script type="text/javascript" src="/data/page/lib/codemirror.js"></script>  
<script type="text/javascript" src="/data/page/sql/sql.js"></script>
<script type="text/javascript" src="/data/page/adhoc.js"></script>

</head>

<body onload="updatestatus();loadcm()" style="color:Indigo; font-family:'verdana';">
<p>
Username:$!username
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href="/data/downloadpage">Your History</a>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href="http://hadoop.int.jumei.com" target="_blank">MapR Job Monitor</a>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<!--
<a href="/data/import">Import Table</a>

<a href="/data/createjob">CreateJob</a>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href="/data/viewjob">ViewJob</a>
-->
</p>
<form>
Database:
<select id="dblist">
<option value="mysql">mysql</option>
<option value="search">search</option>
<option value="crm">crm</option>
<option value="jmbi">jmbi</option>
<option value="ad_online">ad_online</option>
<option value="product_server">product_server</option>
<option value="promocard">promocard</option>
</select>
<input type="button" id="stbutton" value="show tables" style="height:25px;width:80px;" onclick="showtables()"/>
</form>

<div id="divinput">
<h2>please input HIVE SQL</h2>

<form method="post">
<textarea id="sqledit" wrap="virtual" rows="10" cols="100" style="color:Indigo; font-family:'verdana'; font-size:20px;">
</textarea>
</br>
<input type="button" id="submitbutton" value="Submit" style="height:40px;width:100px;" onclick="submitsql()"/>
<input type="button" id="killbutton" value="try kill" style="height:40px;width:100px;" onclick="killjob()"/>
</form>
</div>

<div id="divdisplay" style="border-style:solid;border-width:1pt; border-color:Black background:#7B7B7B width:100%;height:380;overflow-x:scroll;overflow-y:scro
ll" >
<span id="display" style="color:Black; font-family:'verdana';">
</br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br>
</span>
</div>

<div id="divdownload">
</div>

</body>
</html>